* {
    margin: 0px;
    padding: 0px;  
    box-sizing: border-box;
    /* font-family: 'Sora', sans-serif; */
}

.main-page {
    background-image: url('assets/Main-page/bg.svg'), url('assets/Main-page/1079171177-preview_PosterImage.png');
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    align-items: center;
}

li {
    cursor: pointer;
    margin: 0px 14px;
}

.logo {
    width: 192.94px;
    height: 40px;
    cursor: pointer;
}

.arrow-down {
    padding-left: 20.85px;
}


.header-items {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    align-items: center;
    padding: 28px;
}

.header-menu {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
}

.menu-item {
    display: flex;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
}

.menu-item {
    padding-left: 14px;
    padding-right: 14px;
}

.home {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    border-bottom: 2.5px solid red;
    line-height: 1.8rem;
}

.btn {
    font-family: 'Manrope', sans-serif;
    padding: 8px 28px 8px 28px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    background-color: #E2495B;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.main-about {
    width: 626px;
    height: 310px;
    margin-left: 128px;
    margin-top: 106px;
}

.about-heading {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #ffffff;
    max-width: 500px;
}

.about-body {
    padding: 24px 0px 42px 0px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

.about-btn {
    padding: 12px 32px;
    border-radius: 0.25rem;
    border: none;
    background-color: #E2495B;
    color: #fbfbfb;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
