* {
    margin: 0px;
    padding: 0px;  
    box-sizing: border-box;
    /* font-family: 'Sora', sans-serif; */
}

.main-page {
    width: 100%;
    height: 100vh;
    background-image: url('assets/Main-page/bg.svg'), url('assets/Main-page/1079171177-preview_PosterImage.png');
    background-repeat: no-repeat;
    background-size: inherit;
}

.back-vid {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

@media (min-aspect-ration: 16/9) {
    .back-vid {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ration: 16/9) {
    .back-vid {
        width: 100%;
        height: auto;
    }
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    align-items: center;
}

li {
    cursor: pointer;
    margin: 0px 14px;
}

.logo {
    width: 192.94px;
    height: 40px;
    cursor: pointer;
}

.arrow-down {
    padding-left: 20.85px;
}


.header-items {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    align-items: center;
    padding: 28px;
}

.header-menu {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
}

.menu-item {
    display: flex;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
}

.menu-item {
    padding-left: 14px;
    padding-right: 14px;
}

.home {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    border-bottom: 2.5px solid red;
    line-height: 1.8rem;
}

.btn {
    font-family: 'Manrope', sans-serif;
    padding: 8px 28px 8px 28px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    background-color: #E2495B;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.main-about {
    width: 626px;
    height: 310px;
    margin-left: 128px;
    margin-top: 106px;
}

.about-heading {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #ffffff;
    max-width: 500px;
}

.about-body {
    padding: 24px 0px 42px 0px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

.about-btn {
    padding: 12px 32px;
    border-radius: 0.25rem;
    border: none;
    background-color: #E2495B;
    color: #fbfbfb;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.main-footer {
    bottom: 0px;
    padding: 92px 0px 80px 10px;
}

.footer-container {
    background-color: #ffffff;
    margin: 0px 149.2px;
    padding: 32px 40px;
    display: flex;
    align-items: center;
    box-shadow: 0px 11px 20px #00000017;
    border-radius: 6px;
}

.footer-items {
    display: flex;
    width: 1072px;
    height: 94.85px;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    filter: grayscale(100%);
}

.arrow {
    cursor: pointer;
}

/* -------------  Page 2  --------------------- */

.two-container {
    display: flex;
    padding-top: 280px;
    padding-bottom: 160px;
    justify-content: space-between;
}

.bg {
    position: absolute;
    z-index: -1;
    height: 10rem;
    margin-left: 3rem;
    margin-top: -5rem;
}

.bg img {
    width: 90%;
}

.two-container-text {
    padding-left: 125.3px;
    max-width: 740px;
    max-height: 336px;
}

.two-header {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: #000000;
    margin-right: 104px;
}

.two-body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;

}

.two-intro {
    margin-top: 40px;
}

.two-para {
    margin-top: 20px;
}

.two-container-img {
    position: absolute;
    right: 0;
    clear: right;
    overflow: hidden;
    margin-right: -220px;
    margin-top: -130px;
    
    /* overflow-x: hidden;
    object-fit: cover;
    width: 606.825px;
    height: 393.6px; */
}

.two-container-img img {
    float: right;
    width: 70%;
}

/* ------------------  Page 3  --------------------- */

.page-three {
    margin-top: 5rem;
}

.three-bg {

}

.three-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* margin-left: 1.25rem;
    margin-right: 1.25rem; */
    margin-left: 105.2px;
    margin-left: 105.2px;
}

.three-left {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.75rem;
}

.cards {
    padding: 1.5rem;
    gap: 1.75rem;
    border-radius: 0.25rem;
    background-color: #ffffff;
    padding: 1.5rem;
    position: relativerelative;
    text-align: center;
    width: 296px;
    height: auto;
    box-shadow: -5px 5px 15px rgba(136, 135, 135, 0.3);
}

.cards-logo img {
    height: 2.5rem;
}

.cards-header {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
}

.cards hr {
    width: 80px;
    border: 1px solid #E2495B;
    background: #E2495B;
    border-radius: 1px;
    align-items: center;
    margin: auto;
}

.cards-text {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 0.5rem;
}

.cards-right-col {
    margin-top: 2.5rem;
}

.cards-bottom {
    margin-top: 1.75rem;
}

.three-right {

}

.three-right-header {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.three-right-para {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 2.5rem;
}